<h1>Create the best text adventure games easily now!</h1>
<section id="titleSection">
    <label for="title">Adventure title</label>
    <input name="title" id="title" type="text" placeholder="title" <% if(updateAdv){ %>
    value="<%= textAdv.title %>"
        <% } %>
            >
            <label for="description">Description of the adventure game</label>
            <textarea name="description" id="adventureDesc" cols="30" rows="5"
                placeholder="description"><% if(updateAdv){ %><%= textAdv.description %><% } %></textarea>
</section>
<section id="level0">
    <% if(updateAdv){ %>
        <% const level = textAdv.levels[0] %> 
        <div>
            <h2>Level <span id="0">0</span></h2>
        </div>
        <div class="level">
            <textarea name="instLevel0" id="description0" rows="5"><%= level.instructions %></textarea>
            <div>
                <div id="level0option1">
                    <% const option1 = level.options[0] %> 
                    <input class="option" type="text" value="<%= option1 %>">
                    <select name="linkOption" id="level0link1" class="link-option">
                        <% const link0 = level.links[0] %> 
                        <option value="">Select a level to link</option>
                        <% for(let j = 0; j < textAdv.levels.length; j++) { %>
                            <% const levelLink = `Level ${j}` %> 
                            <option value="<%= levelLink %>"
                                <% if(link0 === levelLink) {%> 
                                selected
                                <% } %> 
                                ><%= levelLink %></option>
                        <% } %>
                    </select>
                </div>
                <div id="level0option2">
                    <% const option2 = level.options[1] %> 
                    <input class="option" type="text" value="<%= option2 %>">
                    <select name="linkOption" id="level0link2" class="link-option">
                        <% const link1 = level.links[1] %> 
                        <option value="">Select a level to link</option>
                        <% for(let j = 0; j < textAdv.levels.length; j++) { %>
                            <% const levelLink = `Level ${j}` %> 
                            <option value="<%= levelLink %>"
                                <% if(link0 === levelLink) {%> 
                                selected
                                <% } %> 
                                ><%= levelLink %></option>
                        <% } %>
                    </select>
                </div>
                <div id="aditionalOptionsLevel0">
                    <!-- here the addicional options are created by the javascript-->
                    <% for(let i = 2; i < level.options.length; i++) { %>
                        <% const option = level.options[i] %>
                        <% const link = level.links[i] %>
                        <% const optionNumber = i + 1 %> 
                        <% const linkNumber = optionNumber %> 
                        <div id="level<%= level.level %>option<%= optionNumber %>">
                            <input type="text" value="<%= option %>" class="option">
                            <select id="level<%= level.level %>link<%= linkNumber %>" class="link-option">%> 
                                <option>Select level to link</option>
                                <% for(let j = 0; j < textAdv.levels.length; j++) { %>
                                    <% const levelLink = `Level ${j}` %> 
                                    <option value="<%= levelLink %>"
                                    <% if(link === levelLink) {%> 
                                    selected
                                    <% } %> 
                                    ><%= levelLink %></option>
                                <% } %>
                            </select> 
                        </div>
                    <% } %>
                </div>
                <div id="deleteOptionsButtonLevel0">
                    <!-- here it goes the delete button for the additional options-->
                </div>
                <button class="option option-btn" type="button" onclick="addOption(0)">
                    + Add additional option</button>
            </div>
        </div>
    <% } else { %>
        <div>
            <h2>Level <span id="0">0</span></h2>
        </div>
        <div class="level">
            <textarea name="instLevel0" id="description0" rows="5">Write here the instructions</textarea>
            <div>
                <div id="level0option1">
                    <input class="option" type="text" value="option 1">
                    <select name="linkOption" id="level0link1" class="link-option">
                        <option value="">Select a level to link</option>
                    </select>
                </div>
                <div id="level0option2">
                    <input class="option" type="text" value="option 2">
                    <select name="linkOption" id="level0link2" class="link-option">
                        <option value="">Select a level to link</option>
                    </select>
                </div>
                <div id="aditionalOptionsLevel0">
                    <!-- here the addicional options are created by the javascript-->
                </div>
                <div id="deleteOptionsButtonLevel0">
                    <!-- here it goes the delete button for the additional options-->
                </div>
                <button class="option option-btn" type="button" onclick="addOption(0)">
                    + Add additional option</button>
            </div>
        </div>
    <% } %> 
</section>
<div id="additionalLevels">
    <!-- here the additional levels-->
    <% if(updateAdv){ %>
        <% textAdv.levels.forEach( level=> { %>
            <% if(level.level != 0){ %>
                <section id="level<%= level.level %>">
                    <h2>Level <%= level.level %>
                    </h2>
                    <div class="level">
                        <textarea id="description<%= level.level %>" rows="5"><%= level.instructions %></textarea>
                        <div>
                            <% for(let i = 0; i < 2; i++) { %>
                                <% const option = level.options[i] %>
                                <% const link = level.links[i] %>
                                <% const optionNumber = i + 1 %> 
                                <% const linkNumber = optionNumber %> 
                                <div id="level<%= level.level %>option<%= optionNumber %>">
                                    <input type="text" value="<%= option %>" class="option">
                                    <select id="level<%= level.level %>link<%= linkNumber %>" class="link-option">%> 
                                        <option>Select level to link</option>
                                        <% for(let j = 0; j < textAdv.levels.length; j++) { %>
                                            <% const levelLink = `Level ${j}` %> 
                                            <option value="<%= levelLink %>"
                                            <% if(link === levelLink) {%> 
                                            selected
                                            <% } %> 
                                            ><%= levelLink %></option>
                                        <% } %>
                                    </select> 
                                </div>
                            <% } %> 
                            <div id="aditionalOptionsLevel<%= level.level %>">
                                <!-- here the addicional options are created by the javascript-->
                                <% for(let i = 2; i < level.options.length; i++) { %>
                                    <% const option = level.options[i] %>
                                    <% const link = level.links[i] %>
                                    <% const optionNumber = i + 1 %> 
                                    <% const linkNumber = optionNumber %> 
                                    <div id="level<%= level.level %>option<%= optionNumber %>">
                                        <input type="text" value="<%= option %>" class="option">
                                        <select id="level<%= level.level %>link<%= linkNumber %>" class="link-option">%> 
                                            <option>Select level to link</option>
                                            <% for(let j = 0; j < textAdv.levels.length; j++) { %>
                                                <% const levelLink = `Level ${j}` %> 
                                                <option value="<%= levelLink %>"
                                                <% if(link === levelLink) {%> 
                                                selected
                                                <% } %> 
                                                ><%= levelLink %></option>
                                            <% } %>
                                        </select> 
                                    </div>
                                <% } %>
                            </div>
                            <div id="deleteOptionsButtonLevel<%= level.level %>">
                            </div>
                            <button class="option option-btn"
                                    <%  %> 
                                    onclick="addOption(<%= level.level %>)">+ Add additional option</button>
                        </div>
                    </div>
                    <div>
                        <button class="btn-level"  <%  %> onclick="deleteLevel(<%= level.level %>)">- Delete Level <%= level.level %></button>
                    </div>
                </section>
            <% } %>
        <% }) %>
    <% } %>
</div>
<section>
    <button class="btn-level" onclick="addLevel()" type="button">Create a new level</button>
</section>
<abbr title="Save project">
    <button id="saveProjectBtn" class="important-btn" onclick="saveProjectAndAlert()" type="button">S</button>
</abbr>
<% if(updateAdv){ %>
    <abbr title="Upadate new project">
        <button id="UpadateGameBtn" class="important-btn" onclick="createProject()" type="button">U</button>
    </abbr>
<% } else { %>
<abbr title="Create new project">
    <button id="createGameBtn" class="important-btn" onclick="createProject()" type="button">+</button>
</abbr>
<% } %> 
<script src="/js/maketextgames.js"></script>